.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: darkred;
}
.home-wrapper {
  background-color: darkred;
  h1 {
    color: deepskyblue;
  }

  p {
    color:coral
  }
  .nav-elements {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    a{
      color: white;
    }
  }
}
